body{
  margin: 0;

  font-family: 'Open Sans', sans-serif;

  background-color: #2C2B3D;
}

.page{
  width: 1080px;
  left: 720px;
  margin: 0 auto;
  margin-top: 30px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 98.5px;
}

ul{
  display: flex;
  list-style: none;
  gap: 64px;

  margin: 0;
  padding: 0;
}

a{
  color: #FFFFFF;
  text-decoration: none;
}

ul li a{
  opacity: 0.5;
}

ul li a:hover{
  font-weight: bold;
  opacity: 1;
}

main{
  display: flex;
  align-items: right;
  justify-content: space-between;
}

section{
  align-items: center;
  text-align: center;
}

h1{
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
}

h1 span{
  color: #00BFA6;
  font-weight: bold;
}

p{
  color: #c2c2c2;
  align-items: center;
}
p span{
  color: #00BFA6;
}


h2{
  text-align: center;
  color: #067768;
}

footer{
  font-size: 14px;
  line-height: 28px;

  color: #FFFFFF;

  text-align: center;

  margin-top: 100px;
}

#cadeado{
  position: flex;
  align-items: right;
  bottom: 0px;
  right: 0px;
}